@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --color-orange: #ff4921;
  --color-red: #da1711;
  --color-environment-green: #00de65;
  --color-carbon-green: #00d959;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-orange: color(display-p3 1 0.356 0.2183);
  }
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.intro p {
  max-width: 38ch;
}

.intro code {
  white-space: nowrap;
}

.intro strong {
  color: var(--color-orange);
  font-weight: 650;
}
